.content-block {
    height: 1400px;
    font-size: 40px;
    font-family: 'Lobster', cursive;

    .content-menu {
        height: 500px;
        display: flex;
        flex-direction: column;

        .content-menu__item {
            list-style-type: none;

            .content-menu__item--text {
                font-size: 20px;
                margin: 10px 0;

                &:first-child {
                    margin-top: 30px;
                }
            }

            &:first-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &:nth-child(2) {
                margin-top: 40px;
            }
        }

        .inner-menu {
            display: flex;

            .inner-menu__item {
                margin-top: 20px;
                font-size: 20px;
                list-style-type: none;      

                &:before {
                    content: '⇒';
                }
            }
        }
    }
}

.content-menu__item:nth-child(2) {

    .inner-menu {
        display: flex;
        flex-direction: row;

        .inner-menu__item {
            margin-right: 20px;
        }
    }
}

@media (max-width: 768px) {
    .content-block {
        height: 1800px;
    }
}

@media (max-width: 576px) {
    .content-block {
        height: 2300px;

        .content-menu__item:first-child {

            .inner-menu {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 480px) {
    .content-block {
        height: 2800px;

        .content-menu__item:nth-child(2) {
            .inner-menu {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 396px) {
    .content-block {
        height: 3200px;
    }
}
